# Export all names
exportPattern(".")

# Import required packages
importFrom(geometry, convhulln)
importFrom(rcdd, d2q, q2d, redundant, scdd)
importFrom(ape, drop.tip, is.rooted, read.tree)
importFrom(picante, node.age)
